@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400;500;600&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

:root {
    /* primary */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* neutral */

    /* main background */
    --Very-dark-blue1: hsl(217, 54%, 11%);
    /* card BG */
    --Very-dark-blue2: hsl(216, 50%, 16%);
    /* line */
    --Very-dark-blue3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Very-dark-blue1);
}

main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-card {
    display: flex;
    flex-direction: column;
    background-color: var(--Very-dark-blue2);
    /* background-color:white; */
    height: 56rem;
    width: 33rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.2rem 1rem black;
}

.outer-card .inner-image {
    position: relative;
    height: 28rem;
    border-radius: 1rem;
    width: 28rem;
    margin: 2.5rem;
    box-shadow: 0 0.5rem 0.5rem var(--Very-dark-blue1);
}

.outer-card .inner-image .main-image {
    height: 28rem;
    width: 28rem;
    border-radius: 1rem;
    z-index: 1;
}



.content {
    margin: 0 2.5rem 0 2.5rem;
    /* padding: 0.5rem 0 0 0; */
}

.content h1 {
    color: var(--White);
}

.content p {
    padding: 1rem 0 0 0;
    color: var(--Soft-blue);
    font-size: 1.7rem;
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28rem;
    margin: 1.5rem auto;
    border-bottom: 0.2rem solid var(--Very-dark-blue3);
    height: 5rem;
}

.time .ETH-image {
    display: flex;
    align-items: center;
}

.time .ETH-image p {
    font-size: 1.5rem;
    color: var(--Cyan);
    padding: 0 1rem;
    font-weight: 600;
}

.time .with-time {
    display: flex;
    align-items: center;
}

.time .with-time p {
    font-size: 1.5rem;
    color: var(--Soft-blue);
    padding: 0 0 0 1rem;
    font-weight: 600;
}

.attribution {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 2.5rem;
}

.attribution img {
    height: 3rem;
    border: 0.1rem solid var(--White);
    border-radius: 50%;
}

.attribution p {
    padding: 0 2.5rem;
    font-size: 1.3rem;
    color: var(--Soft-blue);
    font-weight: 600;
}

.attribution p span {
    color: var(--White);
}

.image-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 28rem;
    top: 0;
    left: 0;
    background: var(--Cyan);
    opacity: 0;
    border-radius: 1rem;
}

.image-overlay img {
    height: 5rem;
    width: 5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2.5rem;
    color: var(--White);
}

footer a{
    color: var(--Cyan);
}

/* Hovering effects */

.image-overlay:hover {
    opacity: 0.5;
    cursor: pointer;
}

.heading1:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.attribution p span:hover {
    color: var(--Cyan);
    cursor: pointer;
}

/* Media Query */
@media screen and (max-width: 375px) {
    html {
        font-size: 58%;
    }
}